<div class="container">

  <h1>All Events</h1>

  <ul>
    <% @events.each do |event| %>
    <li>
      <%= "#{event["year"].to_i} #{event["month"].to_i} #{event["day"].to_i} - #{event["info"]}" %>
    </li>
    <% end %>
  </ul>

</div>
