<div class="container">
  <section class="header">
    <h1 class="title">X Marks Your Start</h1>

    <h4>Enter your birthday</h4>
    <input class="four" type="date" placeholder="" id="birthdayInput"> <br>

    <fieldset id="checkArray">
      <label class="">
      <input type="checkbox" value="unusual" name="check[]" id="checkUnusual">
      <span class="label-body">I had an unusual birth</span>
      </label>
    </fieldset>

    <div id="moreOptions">
      <div class="toggle-btn-grp">
        <h6>I was born </h6>
        <input class="four" type="number" placeholder="" id="actualBirthInput">
        <h6> weeks: </h6>
        <label onclick="" class="toggle-btn button"><input type="radio" id="early" name="group2"/>Early</label>
        <label onclick="" class="toggle-btn button"><input type="radio" id="late" name="group2"/>Late</label>
      </div>
    </div>

    <br>
    <button id="birthdayInputButton">Submit</button>

    <hr>

    <h4 id="conceptionRange"></h4>

    <div class="value-props row">
      <div class="four columns value-prop">
        <%= fa_icon "calendar-times-o 4x" %>
        <h3>Events</h3>
      </div>
      <div class="four columns value-prop">
        <%= fa_icon "headphones 4x" %>
        <h3>Songs</h3>
      </div>
      <div class="four columns value-prop">
        <%= fa_icon "film 4x" %>
        <h3>Movies</h3>
      </div>
    </div>
    <div class="value-props row">

      <div class="four columns value-prop">
        <p id="events"></p>
      </div>

      <div class="four columns value-prop">
        <p id="songs"></p>
      </div>

      <div class="four columns value-prop">
        <p id="movies"></p>
      </div>
    </div>
  </section>

  <hr>

  <div class="spacer"></div>
  <nav class="navbar">
    <div class="container">
      <ul class="navbar-list">
        <li class="navbar-item">
          <a class="navbar-link" href="#intro">Item 1</a>
         </li>
        <li class="navbar-item">
          <a class="navbar-link" href="#intro">Item 2</a>
        </li>
        <li class="navbar-item">
          <a class="navbar-link" href="#intro">Item 3</a>
        </li>
        <li class="navbar-item">
          <a class="navbar-link" href="#intro">Item 4</a>
        </li>
      </ul>
    </div>
  </nav>
  <hr>
</div>
