<div class="jumbotron">
  <h1 class="title">X Marks Your Start</h1>
</div>

<div class="container">
  <section class="header">
    <!-- <%= image_tag "new_logo_2.png", class: "img-responsive" %> -->

    <br>
    <br>
    <h1 class="text-center">Enter your birthday</h1>

    <div class="row">
      <div class="input-group date col-xs-4 col-xs-offset-4" data-provide="datepicker" placeholder="MM/DD/YYY">
        <input type="text" id="birthdayInput" class="form-control">
        <div class="input-group-addon">
            <span class="glyphicon glyphicon-th"></span>
        </div>
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col-xs-6 col-xs-offset-3 text-center">
        <fieldset id="checkArray">
          <label class="">
          <input type="checkbox" value="unusual" name="check[]" id="checkUnusual">
          <span class="labelText">I was born early or late</span>
          </label>
        </fieldset>
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col-xs-6 col-xs-offset-3">
        <div id="moreOptions">
          <div class="toggle-btn-grp text-center">
            <h3 class="text-center">I was born </h3>
            <input class="four" type="number" placeholder="" id="actualBirthInput">
            <h3> weeks: </h3>
            <label onclick="" class="toggle-btn btn labelText label-body">
              <input type="radio" id="early" name="group2"/>
              Early
            </label>
            <label onclick="" class="toggle-btn btn labelText label-body">
              <input type="radio" id="late" name="group2"/>
              Late
            </label>
          </div>
        </div>
      </div>
    </div>

    <br>

    <div class="row">
      <button id="birthdayInputButton" class="btn btn-default center-block">Submit</button>

      <div class="birthdayError"></div>
    </div>

    <br>


    <hr>

    <h4 class="text-center labelText" id="conceptionRange"></h4>

    <div class="value-props row text-center">
      <div class="col-xs-4 value-prop">
        <%= fa_icon "calendar-times-o 4x" %>
        <h3>Events</h3>
      </div>
      <div class="col-xs-4 value-prop">
        <%= fa_icon "headphones 4x" %>
        <h3>Songs</h3>
      </div>
      <div class="col-xs-4 value-prop">
        <%= fa_icon "film 4x" %>
        <h3>Movies</h3>
      </div>
    </div>

    <div class="value-props row">

      <div class="col-xs-4 value-prop">
        <p id="events"></p>
      </div>

      <div class="col-xs-4 value-prop">
        <p id="songs"></p>
      </div>

      <div class="col-xs-4 value-prop">
        <p id="movies"></p>
      </div>
    </div>
  </section>

  <section class="data-returned">
    <div class="row share top">
      <div class="six columns value-prop facebook"></div>
      <div class="six columns value-prop twitter"></div>
    </div>
    <div class="row share">
      <div class="twelve columns value-prop email">
        <input class="four" type="email" placeholder="Enter a friends email" id="emailInput"> <br>
        <input class="four" type="email" placeholder="Enter your name" id="senderInput"> <br>
        <button class="emailInputButton button">Share Over Email</button>
        <button id="emailSubmitButton">Submit</button>
      </div>
    </div>
    <div class="value-props row">
      <div class="error">
      </div>
    </div>
  </section>
  <hr>

  <div class="spacer"></div>
  <nav class="navbar">
    <div class="container">
      <ul class="navbar-list">
        <li class="navbar-item">
          <a class="navbar-link about">About</a>
         </li>
         <p id="about-text">
           X Marks Your Start was developed by Jessica Noglows for her Ada Developers Academy capstone project.  The app is built in Ruby on Rails and leverages a DynamoDB database for data storage, Travis for deployment, and a variety of other technologies.
         </p>
      </ul>
    </div>
  </nav>
  <hr>

</div>
