<div class="container">
  <h1>All Movies</h1>

  <ul>
    <% @movies.each do |movie| %>
    <li>
      <%= "#{movie["year"].to_i} #{movie["month"].to_i} #{movie["day"].to_i} - #{movie["title"]}" %>
    </li>
    <% end %>
  </ul>
</div>
