<div class="container">
  <h1>All Movies</h1>

  <ul>
    <% @movies.each do |movie| %>
    <li>
      <%= "#{movie.year} #{movie.month} #{movie.day} - #{movie.title}" %>
    </li>
    <% end %>
  </ul>
</div>
