<div class="container">
  <h1>All Songs</h1>

  <ul>
    <% @songs.each do |song| %>
    <li>
      <%= "#{song["year"].to_i} #{song["month"].to_i} #{song["day"].to_i} - #{song["title"]}, #{song["artist"]}" %>
    </li>
    <% end %>
  </ul>
</div>
