<!DOCTYPE html>
<html>
<head>
  <title>ConceptionCalculator</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Raleway:300,400' rel='stylesheet' type='text/css'>
  <link rel="image_src" href="app/assets/images/test_image" />
  <meta property="og:url"           content="http://www.xmarksyourstart.com" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="X Marks Your Start" />
  <meta property="og:description"   content="Find out what influenced your conception" />
  <meta property="og:image"         content="app/assets/images/test_image" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="http://www.xmarksyourstart.com" />
  <meta name="twitter:title" content="X Marks Your Start" />
  <meta name="twitter:description" content="Find out what influenced your conception" />
  <meta name="twitter:image" content="app/assets/images/test_image" />
</head>
<body>

  <%= yield %>

</body>
</html>
