<!DOCTYPE html>
<html>
<head>
  <title>ConceptionCalculator</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="public/js/app.js"></script>
  <script src="/js/app.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Raleway:300,400' rel='stylesheet' type='text/css'>
</head>
<body>

  <%= yield %>

</body>
</html>
