<!DOCTYPE html>
<html>
<head>
  <title>ConceptionCalculator</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Raleway:300,400' rel='stylesheet' type='text/css'>
  <meta property="og:url"           content="http://www.xmarksyourstart.com" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="X Marks Your Start" />
  <meta property="og:description"   content="Find out what influenced your conception" />
  <meta property="og:image:url"              content="http://failedmessiah.typepad.com/.a/6a00d83451b71f69e20168ebc80e7c970c-800wi" />
  <link rel="image_src" href="http://failedmessiah.typepad.com/.a/6a00d83451b71f69e20168ebc80e7c970c-800wi" />
</head>
<body>

  <%= yield %>

</body>
</html>
